<template>
    <h1 class="text-center">{{ msg }}</h1>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: 'เบิ่มไข่แลน'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
